@font-face {font-family:Graphik; src: url('..style/fonts/Graphik-Regular.ttf')}
@font-face {font-family:Graphik-Bold; src: url('..style/fonts/Graphik-Bold.ttf')}
@font-face {font-family:Graphik-Bold-Italic; src: url('..style/fonts/Graphik-BoldItalic.ttf')}
@font-face {font-family:Graphik-Semibold; src: url('..style/fonts/Graphik-Semibold-.otf')}
@font-face {font-family:Graphik-Black; src: url('..style/fonts/Graphik-Black-.otf')}
@font-face {font-family:Graphik-Light; src: url('..style/fonts/Graphik-Light-.otf')}
@font-face {font-family:Graphik-Italic; src: url('..style/fonts/Graphik-RegularItalic.ttf')}

/*Variables*/
body{
	--primary-color:#0073FF;
	--secondary-color:#3243DB;
	/*tertiary and accent can be deleted, neutral and light should bve renamed to grey*/
	--tertiary-color:#57B8FF;
	--accent:#F7CB2F;
	--text-color:#383838;
	--neutral-color:#808C97;
	--light-color:#f4f8fc;
	--grey:#C8D4E4;
	--neutral-color-light:#d9e5f2;
	--bold:Graphik-Bold;
   --regular:Graphik;
	--semibold:Graphik-Semibold;
	--black:Graphik-Black;
	--light:Graphik-Light;
	--italic:Graphik-Italic;
	--bolditalic:Graphik-Bold-Italic;
}

/* universal formatting */

html{font-size:100%;}
body{
	font-family:Graphik;
	color:var(--text-color);
}

b{
	font-family:var(--bold);
}
em{font-family:var(--italic);}
h1 {
	font-family:var(--bold);
	font-size: 2.4rem;
	color:var(--primary-color);
	line-height:1.1em;
}

h2 {
	font-family:var(--bold);
	font-size: 2rem;
	color:var(--text-color);
	line-height:1em;
}
h3{
	font-family:var(--semibold);
	font-size:1.5rem;
	color:var(--text-color);
	line-height:0.8em;
}
h4{
	font-family:var(--semibold);
	font-size:1.2rem;
   line-height:0.5em;
}
h5{
	font-family:var(--bold);
	font-size:1.1rem;
	margin-bottom:8px;
	color:var(--neutral-color);
}
p{
	line-height:150%;
	text-align:left;
	margin-bottom:1em;
	font-size:1rem;
}
a{
	color:var(--primary-color);
	text-decoration: underline;
   font-size:1rem;
}
a:hover{color:var(--secondary-color)}
a:active{color:var(--secondary-color)}
pre{
   background-color: var(--neutral-color-light);
}
.bigp{
	font-family:var(--semibold);
	margin-bottom:.5em;
}
ul,ol{
	line-height:150%;
	text-align:left;
	margin-bottom:.8em;
   margin-left:2em;
	font-size:1rem;
}
ul li{list-style: square;}
ol li{list-style:decimal;}
hr{
   margin:1em 0;
}
footer{

	text-align: center;
	position: sticky;
	bottom:1em;
}
figure{
	margin:16px 0 32px 0;
	text-align:center;}
figure img, figure iframe, figure video{
	margin:16px 0;
}
figure figcaption{
	font-size:12px;
	color:var(--neutral-color)
}
figure figcaption.cap-left{text-align:left; font-size:14px;}
.top-bar{
	background:var(--primary-color);
	width:100%;
	height:10px;
	display:block;
	position:sticky;
	z-index: 1;
}
.nav-bar{
	letter-spacing: .1em;
	margin-top:1em;
	padding:1em;
}
.nav_link{
	padding:0.5em 2em;
	font-size:0.9rem;
	list-style:none;
}
.nav_link a{
	color:var(--neutral-color);
	text-decoration: none;
}
.nav_link a:hover{
	color:var(--secondary-color);
	text-decoration: none;
}
.nav_link a:active{
	color:var(--primary-color);
	text-decoration: underline;
}
.nav_logo{
	font-family:var(--semibold);
	font-size: 1rem;
	text-decoration: none;
	letter-spacing:2pt;
	color:var(--neutral-color);
}
.active_link{
	font-family: var(--semibold);
	color:var(--primary-color);
	text-decoration:underline;
		text-decoration-color:var(--neutral-color);
}
.active_link:hover{
		text-decoration-color:var(--secondary-color);
}

a.pressed{
	font-family:Graphik;
	color:#1D1D1D;
	text-decoration: underline;
}

footer{
	position:fixed;
	background:white;
	padding-top:.3em;
	bottom:0;
}
footer p{text-align:center;}

/* universal formatting */

.button{
	padding:8px 32px;
	border:1px var(--grey) solid;
	border-radius:24px;
	color:var(--primary-color);
	text-decoration: none;
   display: inline-block;
}

	.button:hover{
		border-color:var(--primary-color);
      color:var(--primary-color)
	}
   .button a:hover{color:var(--primary-color);}

	.button:active{
		border-color:var(--primary-color);
		background-color:var(--neutral-color-light);
	}

.long_container{
	background:var(--neutral-color-light);
	color:var(--text-color);
	margin-bottom:16px;

}
.banner-x3, .banner-x1{
	overflow-x: hidden;
	overflow-y:hidden;
	height:auto;
	max-width:100%;
}

.banner-x3, .banner-x1 img{
	object-fit:cover;
	height:auto;
	max-width:100%;
}

.par img{
	max-width:100%;
	height:auto;
}

.extra-link {
	font-family:NB Akademie Mono Bold;
}

.category{
	color:#808080;
	font-size:12px;
}

.header-text{
	border-bottom:solid #FFC700;
	border-width: thin;
	width:100%;
	height:auto;
}

.black-bg{
	width:100%;
	background-color:#2B2B2B;
	color:white;
}

.grey-bg{
	background-color:#EEEEEE;
}

.chess{
	min-height:205px;
}

.credits{
	border-bottom:solid #FFC700;
	border-width: thin;
	line-height: 2em;
}

.caption{
	border-left:solid #FFC700;
	border-width:4px;
	font-size: 12px;
	color:#808080;
	display:block;
	}
.card.wrapper{
   padding:1em;
   background-color: white;
   border:1px solid var(--grey);
   border-radius: 2px;
}
.fase-card{
	background:#f9feff;
	border:1px solid var(--tertiary-color);
	border-radius:5px;
	padding:2em;
	box-sizing:border-box;
}

.tg{border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{border-color:var(--tertiary-color);border-style:solid;border-width:1px; font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal; background:white;}
.tg th{border-color:var(--tertiary-color);border-style:solid;border-width:1px; font-size:14px;
  font-family:var(--semibold);overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-ekg0{background-color:#EFEFEF;font-family:var(--semibold);text-align:left;vertical-align:top}
.tg .tg-oz0b{background-color:#EFEFEF;border-color:var(--tertiary-color);font-family:var(--semibold);text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:var(--tertiary-color);text-align:left;vertical-align:top}
/* index */
